.first_row {
  display: flex;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-inline: 20px;

}
.button_container{
  width: 930px;
}

.button2 {
  width: 70px;
  height: 40px;
  margin: 10px;

}
.button2:hover {
  background-color: #72f542;
  border: none;
}
.all_select,
.all_clear {
  margin-left: 25px;
}

table,
th,
td {
  border: 1px solid black;
}
tr:nth-child(even) {
  background-color: #d6eeee;
}
.submit-section {
  text-align: center;
  margin-top: 30px;

}
#submit1 {
  background-color: aqua;
  border: none;
  height: 40px;
  width: 90px;
  margin-right: 20px;
}

#submit2 {
  background-color: blue;
  color:white;
  border: none;
  height: 40px;
  width: 90px;
}
